NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CMS_ADMIN_EMAIL=hello@desgnmate.com
CMS_ADMIN_USER_ID=
POSTGRES_URL_NON_POOLING=
NEXT_PUBLIC_SITE_URL=https://djshef.vercel.app
